<div class="margin-spacing"></div>
<footer class="py-5">
    <div class="container text-center">
        <p class="fw-bolder h5">FOLLOW ME</p>
        <ul class="list-inline">
            <li class="list-inline-item social-media-icons">
                <a href="">
                    <i class="fa-brands fa-github"></i>
                </a>
            </li>
            <li class="list-inline-item social-media-icons">
                <a href="">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
            </li>
            <li class="list-inline-item social-media-icons">
                <a href="">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
            </li>
        </ul>
        <p>© @DateTime.Now.Year Phlox Resume. All rights reserved.</p>
    </div>
</footer>