
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_PortfolioLayout.cshtml";
}

<div class="container">
    <div class="row" id="get=in-touch">
        <div class="col-md-6">
            <div class="row mt-5 mb-3">
                <div class="col-md-5 fw-bolder h1 text-center">Get in Touch</div>
                <div class="col-md-4 gradient-next-to-profile-photo"></div>
            </div>
            <div class="row mt-4">
                <div class="col-md text-md-start text-center">
                    <p>
                        I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md h2 fw-bolder mt-2 text-md-start text-center">
                    <p>mail@website.com</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <form>
                <div class="row">
                    <div class="col-mb-12">
                        <input type="text" class="form-control border-0 border-bottom" placeholder="First name" aria-label="First name">
                    </div>
                    <div class="col-mb-12">
                        <input type="text" class="form-control border-0 border-bottom" placeholder="Last name" aria-label="Last name">
                    </div>
                    <div class="col-mb-12">
                        <input type="text" class="form-control border-0 border-bottom" placeholder="Subject" aria-label="Last name">
                    </div>
                    <div class="col-mb-12">
                        <input type="text" class="form-control border-0 border-bottom" placeholder="Message" aria-label="Last name">
                    </div>
                    <div class="col-mb-12 text-end">
                        <input type="button" class="btn" placeholder="Message" aria-label="Last name" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

