
@{
    ViewData["Title"] = "Project";
    Layout = "~/Views/Shared/_PortfolioLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <p class="fw-bolder bold-projects text-md-start text-center">Projects</p>
                </div>
                <div class="col-md-6 my-auto">
                    <div class="gradient-next-to-profile-photo"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 my-auto text-md-end mt-3 text-center button-group filter-button-group">
            <button type="button" data-filter="all" class="btn btn-primary btn-filter-projects active">All</button>
            <button type="button" data-filter="frontend" class="btn btn-primary btn-filter-projects">Frontend</button>
            <button type="button" data-filter="console" class="btn btn-primary btn-filter-projects">Console</button>
            <button type="button" data-filter="backend" class="btn btn-primary btn-filter-projects">Backend</button>
        </div>
    </div>
</div>

<div class="container mt-3 product">
    <div class="row mt-2 mb-2">
        <div class="col-md-6 me-0 pe-0 itemBox frontend">
            <div class="row">
                <div class="col">
                    <img src="~/PortfolioBlog/images/ProductDesign.jpg" alt="product-photo" class="img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col products-font-size text-center fw-bolder mt-2 mb-2">Product Design</div>
            </div>
        </div>

        <div class="col-md-6 ms-0 ps-0 itemBox console">
            <div class="row">
                <div class="col">
                    <img src="~/PortfolioBlog/images/FreWebKitProject.jpeg" alt="product-photo" class="img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col products-font-size text-center fw-bolder mt-2 mb-2">Free Web UI Kit</div>
            </div>
        </div>

        <div class="col-md-6 pe-0 itemBox backend">
            <div class="row">
                <div class="col">
                    <img src="~/PortfolioBlog/images/BrandProposal_1000x750.jpg" alt="product-photo" class="img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col products-font-size text-center fw-bolder mt-2 mb-2">Product Design</div>
            </div>
        </div>

        <div class="col-md-6 ps-0 itemBox backend">
            <div class="row">
                <div class="col">
                    <img src="~/PortfolioBlog/images/FreeWebuiKet.jpg" alt="product-photo" class="img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col products-font-size text-center fw-bolder mt-2 mb-2">Free Web UI Kit</div>
            </div>
        </div>

        <div class="col-md-6 ps-0 itemBox backend">
            <div class="row">
                <div class="col">
                    <img src="~/PortfolioBlog/images/FreeWebuiKet.jpg" alt="product-photo" class="img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col products-font-size text-center fw-bolder mt-2 mb-2">Free Web UI Kit</div>
            </div>
        </div>

        <div class="col-md-6 pe-0 itemBox console">
            <div class="row">
                <div class="col">
                    <img src="~/PortfolioBlog/images/FreeWebUIKit_1000x750.jpeg" alt="product-photo" class="img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col products-font-size text-center fw-bolder mt-2 mb-2">Product Design</div>
            </div>
        </div>

        <div class="col-md-6 ps-0 itemBox backend">
            <div class="row">
                <div class="col">
                    <img src="~/PortfolioBlog/images/FreeWebUIKet.jpeg" alt="product-photo" class="img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col products-font-size text-center fw-bolder mt-2 mb-2">Free Web UI Kit</div>
            </div>
        </div>

        <div class="col-md-6 pe-0 itemBox console">
            <div class="row">
                <div class="col">
                    <img src="~/PortfolioBlog/images/BrandAgency_1000x750.jpeg" alt="product-photo" class="img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col products-font-size text-center fw-bolder mt-2 mb-2">Product Design</div>
            </div>
        </div>

        <div class="col-md-6 pe-0 itemBox console">
            <div class="row">
                <div class="col">
                    <img src="~/PortfolioBlog/images/BrandAgency_1000x750.jpeg" alt="product-photo" class="img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col products-font-size text-center fw-bolder mt-2 mb-2">Product Design</div>
            </div>
        </div>

        <div class="col-md-6 ps-0 itemBox frontend">
            <div class="row">
                <div class="col">
                    <img src="~/PortfolioBlog/images/FrieWebUIKit.jpeg" alt="product-photo" class="img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col products-font-size text-center fw-bolder mt-2 mb-2">Free Web UI Kit</div>
            </div>
        </div>
    </div>

</div>

